#container {
    visibility: hidden;
}
#pageLoadingContainer {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    width: 100vw;
    background-color: rgba(240, 240, 240, 1);
    z-index: 99;
    /*display: none;*/
}
#pageLoading {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 99;
}
#weatherContainer {
    position: absolute;
    top: 4%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 75%;
    min-height: 550px;
    background: rgba(60, 60, 60, 0.3);
    color: white;
    z-index: 91;
}
#nextforecastContainer {
    min-width: 345px;
    min-height: 150px;
    margin-left: 5px;
    margin-right: 5px;
}
.weatherInner {
    color: white;
    text-align: center;
}
.weatherInner div.first {
    display: inline-block;
    margin: 0 0 0 30px;
}
.weatherInner div.second {
    position: absolute;
    top: 40px;
    margin-left: -5px;
    display: inline;
    z-index: 92;
}
.weatherInner div.third {
    display: inline-block;
    margin: 0 0 0 5px;
}
.weatherInner div.fourth {
    display: inline-block;
    text-align: left;
}
.weatherInner div.xs {
    font-size: 1.3em;
}
.weatherInner div.sm {
    font-size: 2.5em;
}
.weatherInner div.md {
    font-size: 3.25em;
}
.weatherInner div.lg {
    font-size: 4.5em;
}
.weatherInner div.xl {
    font-size: 5.5em;
}
.weatherInner div.xxl {
    font-size: 7.25em;
}
.nextforecast {
    display: inline-block;
    width: 19%;
    margin-top: 20px;
}
.nextforecast.today {
    border: 1px solid rgba(90, 90, 90, 0.8);
    background-color: rgba(60, 60, 60, 0.4);
}
.nextforecastHighTemp {
    display: inline-block;
    margin-right: 10px;
}
.nextforecastLowTemp {
    display: inline-block;
}
#fairWeatherBackgroundImage {
    display: none;
}
#sunnyWeatherBackgroundImage {
    display: none;
}
#cloudyWeatherBackgroundImage {
    display: none;
}
#rainyWeatherBackgroundImage {
    display: none;
}
#snowyWeatherBackgroundImage {
    display: none;
}
#thunderstormWeatherBackgroundImage {
    display: none;
}
.WeatherBackgroundImage {
    width: 100%;
    height: 100%;
}
.WeatherBackground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    z-index: 90;
    min-height: 600px;
    min-width: 400px;
}
.WeatherBackground:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    min-height: 600px;
    min-width: 400px;
    background: rgba(50, 50, 50, 0.5);
    -moz-transition: background .3s linear;
    -webkit-transition: background .3s linear;
    -o-transition: background .3s linear;
    transition: background .3s linear;
    z-index: 90;
}
#refreshWeather {
    position: fixed;
    left: 10px;
    bottom: 55px;
    background: rgba(50, 50, 50, 0.5);
    z-index: 94;
    display: none;
}
#refreshWeather:hover {
    background: rgba(35, 35, 35, 0.6);
}
#refreshWeather a i {
    color: white;
    font-size: 1.8em;
}
#quickPanelContainer {
    position: fixed;
    left: 59px;
    bottom: 5px;
    height: 100px;
    padding: 10px;
    background: rgba(40, 40, 40, 0.6);
    z-index: 94;
    display: none;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#quickPanelContainer.open {
    display: block;
}
#quickPanelContainer .input-group {
    margin-bottom: 10px;
}
#quickPanelButton {
    position: fixed;
    left: 10px;
    bottom: 5px;
    padding: 5px;
    z-index: 94;
    background: rgba(50, 50, 50, 0.5);
    cursor: pointer;
    /*display: none;*/
}
#quickPanelButton:hover {
    background: rgba(35, 35, 35, 0.6);
}
#quickPanelButton i {
    font-size: 2.5em;
    color: white;
}
@media(min-width: 0px){
    #weatherContainer {
        min-width: 350px;
        width: 95%;
    }
    #quickPanelContainer {
        width: 240px;
    }
    .weatherInner div.xs {
        font-size: 1.1em;
    }
    .weatherInner div.sm {
        font-size: 1.15em;
    }
    .weatherInner div.lg {
        font-size: 2.5em;
    }
    .weatherInner div.first {
        font-size: 9em;
    }
    .weatherInner div.second {
        font-size: 2.5em;
    }
    .weatherInner div.third {
        font-size: 1.5em;
    }
    .weatherInner div.fourth {
        display: inline-block;
        margin: 0 0 0 25px;
        text-align: left;
    }
}
@media(min-width: 550px){
    #weatherContainer {
        min-width: 450px;
        width: 90%
    }
    #quickPanelContainer {
        width: 350px;
    }
    .weatherInner div.xs {
        font-size: 1.2em;
    }
    .weatherInner div.sm {
        font-size: 1.35em;
    }
    .weatherInner div.lg {
        font-size: 3em;
    }
    .weatherInner div.first {
        font-size: 9em;
    }
    .weatherInner div.second {
        font-size: 3em;
    }
    .weatherInner div.third {
        font-size: 2.25em;
    }
    .weatherInner div.fourth {
        display: inline-block;
        margin: 0 0 0 40px;
        text-align: left;
    }
}
@media(min-width: 768px){
    #weatherContainer {
        min-width: 450px;
        width: 85%
    }
    .weatherInner div.xs {
        font-size: 1.3em;
    }
    .weatherInner div.sm {
         font-size: 1.425em;
     }
    .weatherInner div.lg {
        font-size: 3.75em;
    }
    .weatherInner div.first {
        font-size: 12em;
    }
    .weatherInner div.second {
        font-size: 5em;
    }
    .weatherInner div.third {
        font-size: 4.25em;
    }
}
@media(min-width: 1000px){
    #weatherContainer {
        min-width: 450px;
        width: 80%
    }
    .weatherInner div.xs {
        font-size: 1.3em;
    }
    .weatherInner div.sm {
        font-size: 1.5em;
    }
    .weatherInner div.lg {
        font-size: 4.5em;
    }
    .weatherInner div.first {
        font-size: 15em;
    }
    .weatherInner div.second {
        font-size: 7em;
    }
    .weatherInner div.third {
        font-size: 6.75em;
    }
}
