#container {
    visibility: hidden;
}
.error {
    border: 1px solid #ff282f;
    color: red;
}
#pageLoadingContainer {
    height: 100vh;
    width: 100vw;
    background-color: rgba(192, 205, 218, 1);
    z-index: 99;
    /*display: none;*/
}
#pageLoadingContainer img{
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    margin-left: auto;
    margin-right: auto;
    width: 75px;
    height: auto;
}
#pageLoading {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 99;
}
#weatherContainer {
    position: absolute;
    top: 4%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 75%;
    min-height: 550px;
    color: white;
    z-index: 99;
    display: none;
}
#todayWeatherContainer {
    /*background: rgba(60, 60, 60, 0.3);*/
}
#nextforecastContainer {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    min-width: 350px;
    min-height: 150px;
    padding: 0px 15px;
    z-index: 94;
}
#todayWeatherBase {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 90;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.23) 0%, rgba(0,0,0,0.63) 47%, rgba(0,0,0,0.28) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.23)), color-stop(47%,rgba(0,0,0,0.63)), color-stop(100%,rgba(0,0,0,0.28))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.23) 0%,rgba(0,0,0,0.63) 47%,rgba(0,0,0,0.28) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.23) 0%,rgba(0,0,0,0.63) 47%,rgba(0,0,0,0.28) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.23) 0%,rgba(0,0,0,0.63) 47%,rgba(0,0,0,0.28) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.23) 0%,rgba(0,0,0,0.63) 47%,rgba(0,0,0,0.28) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b000000', endColorstr='#47000000',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: 2px 5px 15px 0px rgba(15,15,15,0.75);
    -moz-box-shadow: 2px 5px 15px 0px rgba(15,15,15,0.75);
    box-shadow: 0px 2px 15px 0px rgba(15,15,15,0.75);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: none;
}
#forecastBase {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 150px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.07) 0%, rgba(0,0,0,0.23) 47%, rgba(0,0,0,0.27) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.07)), color-stop(47%,rgba(0,0,0,0.23)), color-stop(100%,rgba(0,0,0,0.27))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.07) 0%,rgba(0,0,0,0.23) 47%,rgba(0,0,0,0.27) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.07) 0%,rgba(0,0,0,0.23) 47%,rgba(0,0,0,0.27) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.07) 0%,rgba(0,0,0,0.23) 47%,rgba(0,0,0,0.27) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.07) 0%,rgba(0,0,0,0.23) 47%,rgba(0,0,0,0.27) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12000000', endColorstr='#45000000',GradientType=0 ); /* IE6-9 */
    -webkit-transform: perspective(400px) rotateX(45deg);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    z-index: 91;
}
.weatherInner {
    color: white;
    text-align: center;
}
.weatherInner div.first {
    display: inline-block;
    margin: 0 0 0 30px;
}
.weatherInner div.second {
    position: absolute;
    top: 40px;
    margin-left: -5px;
    display: inline;
    z-index: 92;
}
.weatherInner div.third {
    display: inline-block;
    margin: 0 0 0 5px;
}
.weatherInner div.fourth {
    display: inline-block;
    text-align: left;
}
.weatherInner div.xs {
    font-size: 1.3em;
}
.weatherInner div.sm {
    font-size: 2.5em;
}
.weatherInner div.md {
    font-size: 3.25em;
}
.weatherInner div.lg {
    font-size: 4.5em;
}
.weatherInner div.xl {
    font-size: 5.5em;
}
.weatherInner div.xxl {
    font-size: 7.25em;
}
.nextforecast {
    display: inline-block;
    margin: 20px 5px 0 5px;
    /*background-color: rgba(50, 50, 50, 0.5);*/
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.23) 0%, rgba(0,0,0,0.53) 47%, rgba(0,0,0,0.26) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.23)), color-stop(47%,rgba(0,0,0,0.53)), color-stop(100%,rgba(0,0,0,0.26))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.23) 0%,rgba(0,0,0,0.53) 47%,rgba(0,0,0,0.26) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.23) 0%,rgba(0,0,0,0.53) 47%,rgba(0,0,0,0.26) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.23) 0%,rgba(0,0,0,0.53) 47%,rgba(0,0,0,0.26) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.23) 0%,rgba(0,0,0,0.53) 47%,rgba(0,0,0,0.26) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b000000', endColorstr='#42000000',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: 2px 5px 15px 0px rgba(15,15,15,0.75);
    -moz-box-shadow: 2px 5px 15px 0px rgba(15,15,15,0.75);
    box-shadow: 0px 2px 15px 0px rgba(15,15,15,0.75);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

}
.nextforecast.today {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.44) 0%, rgba(0,0,0,0.67) 47%, rgba(0,0,0,0.43) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.44)), color-stop(47%,rgba(0,0,0,0.67)), color-stop(100%,rgba(0,0,0,0.43))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.44) 0%,rgba(0,0,0,0.67) 47%,rgba(0,0,0,0.43) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.44) 0%,rgba(0,0,0,0.67) 47%,rgba(0,0,0,0.43) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.44) 0%,rgba(0,0,0,0.67) 47%,rgba(0,0,0,0.43) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.44) 0%,rgba(0,0,0,0.67) 47%,rgba(0,0,0,0.43) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70000000', endColorstr='#6e000000',GradientType=0 ); /* IE6-9 */
}
.nextforecastHighTemp {
    display: inline-block;
    margin-right: 10px;
}
.nextforecastLowTemp {
    display: inline-block;
}
#fairWeatherBackgroundImage {
    display: none;
}
#sunnyWeatherBackgroundImage {
    display: none;
}
#cloudyWeatherBackgroundImage {
    display: none;
}
#rainyWeatherBackgroundImage {
    display: none;
}
#snowyWeatherBackgroundImage {
    display: none;
}
#thunderstormWeatherBackgroundImage {
    display: none;
}
.WeatherBackgroundImage {
    width: 100%;
    height: 100%;
}
.WeatherBackground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    z-index: 90;
    min-height: 600px;
    min-width: 425px;
}
.WeatherBackground:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    min-height: 600px;
    min-width: 350px;
    background: rgba(50, 50, 50, 0.35);
    -moz-transition: background .3s linear;
    -webkit-transition: background .3s linear;
    -o-transition: background .3s linear;
    transition: background .3s linear;
    z-index: 90;
}
#refreshWeather {
    position: fixed;
    left: 10px;
    bottom: 55px;
    background: rgba(50, 50, 50, 0.5);
    z-index: 100;
    display: none;
}
#refreshWeather:hover {
    background: rgba(35, 35, 35, 0.6);
}
#refreshWeather a i {
    color: white;
    font-size: 1.8em;
}
#quickPanelContainer {
    position: fixed;
    left: 59px;
    bottom: 5px;
    height: 55px;
    padding: 10px;
    background: rgba(40, 40, 40, 0.6);
    z-index: 100;
    display: none;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#quickPanelContainer.open {
    display: block;
}
#quickPanelContainer .input-group {
    margin-bottom: 10px;
}
#quickPanelButton {
    position: fixed;
    left: 10px;
    bottom: 5px;
    padding: 5px;
    z-index: 100;
    background: rgba(50, 50, 50, 0.5);
    cursor: pointer;
    display: none;
}
#quickPanelButton:hover {
    background: rgba(35, 35, 35, 0.6);
}
#quickPanelButton i {
    font-size: 2.5em;
    color: white;
}
@media(min-width: 0px){
    #weatherContainer {
        min-width: 350px;
        width: 95%;
    }
    #todayWeatherBase {
        width: 360px;
        height: 150px;
        top: 40px;
    }
    #forecastBase {
        display: none;
    }
    #quickPanelContainer {
        width: 240px;
    }
    .weatherInner div.xs {
        font-size: 1.1em;
    }
    .weatherInner div.sm {
        font-size: 1.15em;
    }
    .weatherInner div.lg {
        font-size: 2.5em;
    }
    .weatherInner div.first {
        font-size: 9em;
    }
    .weatherInner div.second {
        font-size: 2.5em;
    }
    .weatherInner div.third {
        font-size: 1.5em;
    }
    .weatherInner div.fourth {
        display: inline-block;
        margin: 0 0 0 25px;
        text-align: left;
    }
    .nextforecast {
        width: 15%;
    }
}
@media(min-width: 550px){
    #weatherContainer {
        min-width: 450px;
        width: 90%
    }
    #todayWeatherBase {
        width: 430px;
        height: 175px;
        top: 25px;
    }
    #quickPanelContainer {
        width: 350px;
    }
    .weatherInner div.xs {
        font-size: 1.2em;
    }
    .weatherInner div.sm {
        font-size: 1.35em;
    }
    .weatherInner div.lg {
        font-size: 3em;
    }
    .weatherInner div.first {
        font-size: 9em;
    }
    .weatherInner div.second {
        font-size: 3em;
    }
    .weatherInner div.third {
        font-size: 2.25em;
    }
    .weatherInner div.fourth {
        display: inline-block;
        margin: 0 0 0 40px;
        text-align: left;
    }
    .nextforecast {
        width: 16%;
    }
}
@media(min-width: 768px){
    #weatherContainer {
        min-width: 450px;
        width: 85%
    }
    #todayWeatherBase {
        width: 560px;
        height: 200px;
        top: 55px;
    }
    #forecastBase {
        top: 75px;
        display: block;
    }
    .weatherInner div.xs {
        font-size: 1.3em;
    }
    .weatherInner div.sm {
         font-size: 1.425em;
     }
    .weatherInner div.lg {
        font-size: 3.75em;
    }
    .weatherInner div.first {
        font-size: 12em;
    }
    .weatherInner div.second {
        font-size: 5em;
    }
    .weatherInner div.third {
        font-size: 4.25em;
    }
    .nextforecast {
        width: 17.5%;
    }
}
@media(min-width: 1000px){
    #weatherContainer {
        min-width: 450px;
        width: 80%
    }
    #todayWeatherBase {
        width: 560px;
        height: 250px;
        top: 55px;
    }
    .weatherInner div.xs {
        font-size: 1.3em;
    }
    .weatherInner div.sm {
        font-size: 1.5em;
    }
    .weatherInner div.lg {
        font-size: 4.5em;
    }
    .weatherInner div.first {
        font-size: 15em;
    }
    .weatherInner div.second {
        font-size: 7em;
    }
    .weatherInner div.third {
        font-size: 6.75em;
    }
}
